/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Luckiest Guy", cursive;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url("../images/vecteezy_neon-cityscape-cyber-smart-city-vector-flat-design_19851039.jpg");
    /* display: none; */
}

.start-screen h1 {
    font-size: 4.3rem;
    color: #FDE311;
}

.start-screen img {
    height: 4.3rem;
    width: 4.3rem;
    position: absolute;
    top: 129px;
    right: 450px;
}

.start-screen p {
    font-size: 1.7rem;
    color: #FDE311;
}

.start-game-button {
    padding: 1.3rem 3rem;
    border: none;
    background-color: #FDE311;
    border-radius: 5px;
    font-family: "Luckiest Guy", cursive;
    font-size: 1.8rem;
}

.start-game-button:hover {
    background-color: #d4193f;
    font-size: 2rem;
    transition: font-size .3s ease-in;
    margin: 0;
} 

.boss-one {
    height: 100vh;
    background-image: url("../images/boss1.jpg");
    background-size: contain;
    display: none;
}

.bald {
    text-align: center;
    font-size: 2rem;
    color: #FDE311;
    padding-top: 30px;
}

.avada {
    position: absolute;
    bottom: 320px;
    right: 40px;
    font-size: 1.3rem;
    color: white;
}

.voldy {
    height: 200px;
    position: absolute;
    bottom: 95px;
    right: 20px;
}

.quiz {
    width: 700px;
    height: 700px;
    background: linear-gradient(90deg, rgba(254,255,41,1) 0%, rgba(99,99,99,1) 100%);
    position: absolute;
    top: 100px;
    left: 650px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.questionCnt {
    height: 15rem;
    width: 90%;
    background-color: transparent;
    border: 1px double black;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    text-align: center;
    font-size: 2rem;

}

.answers {
    height: 18rem;
    width: 90%;
    background-color: purple;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: url("../images/studio.jpg");
    background-size: cover;
}

.answers button {
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    font-size: 2.2rem;
    width: 80%;
    background-color: #b609b5;
    border-radius: 6px;
    color: whitesmoke;
}

.game-over-screen {
    height: 100vh;
    background: linear-gradient(159deg, rgba(2,0,36,1) 0%, rgba(121,9,19,1) 45%, rgba(0,0,0,1) 100%); 
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-over-screen h1 {
    color: white;
    font-size: 4rem;
}

.game-over-screen img {
    height: 400px;
    /* position: absolute;
    top: 300px;
    left: 800px; */
}

.game-over-screen button {
    font-family: "Luckiest Guy", cursive;
    font-size: 4rem;
    padding: 30px 50px;
    border-radius: 10px;
    background: linear-gradient(155deg, rgba(211,212,51,1) 0%, rgba(20,2,4,1) 90%, rgba(0,0,0,1) 100%);    
    color: white;
    border: none;
}

.game-over-screen button:hover {
    font-size: 4.2rem;
    transition: font-size .1s ease-in;
}

.room-one {
    height: 100vh;
    background: linear-gradient(93deg, rgba(189,51,212,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} 

.whitenessBtn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color:white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 1600px;
}

.whitenessBtn::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #fff;
  }

  .whitenessBtn:hover::after {
    border-left-color: #ff0000; 
  }

.room-one p {
    text-align: center;
    font-size: 3rem;
    padding-top: 40px;
}

.buff-sponge {
    transform: rotateY(180deg);
}

.room-two {
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.room-two p {
    text-align: center;
    font-size: 2.8rem;
    margin-top: 40px;
}

.timer {
    border: 3px solid black;
    border-radius: 50%;
    padding: 20px;
}

.switch:hover {
    color: red;
}

.room-three {
    height: 100vh;
    background-image: url("../images/minecraft.jpg");
    background-size: cover;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room-three p {
    color: white;
    font-size: 1.5rem;
}

.toFinalBossBtn {
    font-family: "Luckiest Guy", cursive;
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background-color: #4a9cdb;
    color: #fff;
    box-shadow: 0 2px 0 #2665a3;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    letter-spacing: 3px;
}

.toFinalBossBtn:hover {
    background-color: #64b2ff;
    transform: scale(1.05);
}

.toFinalBossBtn:active {
    background-color: #2665a3;
    box-shadow: none;
    transform: translateY(2px);
}

.finalBoss {
    height: 100vh;
    background-image: url("../images/mordor.jpeg");
    background-size: cover;
    display: none;
}

.catchGame {
    box-sizing: border-box;
    height: 700px;
    width: 700px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 620px;
}

.ultra-instinct-sponge {
    height: 400px;
    position: absolute;
    bottom: 75px;
    left: 20px;
}

.creeper {
    height: 400px;
    position: absolute;
    bottom: 75px;
    right: 0px;
}

.catchStartScreen {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/cat-in-lava.png");
    background-size: cover;
}

.catchStartBtn {
    font-family: "Luckiest Guy", cursive;
    font-size: 1.8rem;
    color: #FDE311;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    transform: rotate(10deg);
}

.catchStartBtn:hover {
    font-size: 2rem;
    transform: rotate(-10deg);
    color:#2665a3;
    transition: transform .1s linear;
}

.catchGameScreen {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.above-lava {
    background: linear-gradient(to bottom, #635d5c, #ed8c85);;
    height: 630px;
    width: 100%;
}

.lava {
    width: 100%;
    height: 70px;
    background: radial-gradient(circle, #FF3300 10%, #FF6600 30%, #FF3300 60%);
}

.endScreen {
    display: none;
    height: 100vh;
    background: linear-gradient(93deg, rgba(224,48,17,1) 0%, rgba(221,167,17,1) 27%, rgba(81,237,73,1) 100%);font-family: "Luckiest Guy", cursive;
}

.theEndBtn {
    margin: 0 auto;
    font-family: "Luckiest Guy", cursive;
    position: absolute;
    bottom: 80px;
    left: 825px;
    font-size: 3rem;
    border: none;
    background-color: transparent;
}

.theEndBtn:hover {
    font-size: 3.2rem;
    color: #ff0000;
    transform: rotate(2deg);
}

.homemade-creeper {
    height: 300px;
    position: absolute;
    top: 300px;
    left: 850px;
}

.container {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 350px;
    left: 880px;
  }
  
  .explosion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    border-radius: 50%;
    animation: explode 1s linear infinite;
  }

  .explosion:nth-of-type(2) {
    position: absolute;
    top: 20px;
    left: 60px;
    animation: explode 1s linear infinite .5s;
  }

  .explosion:nth-of-type(3) {
    position: absolute;
    top: 200px;
    left: 60px;
    animation: explode 1s linear infinite .4s;
  }

  .explosion:nth-of-type(4) {
    position: absolute;
    top: 0px;
    left: 100px;
    animation: explode 1s linear infinite .3s;
  } 

  .explosion:nth-of-type(5) {
    position: absolute;
    top: 250px;
    left: 150px;
    animation: explode 1s linear infinite .2s;
  } 
   
  @keyframes explode {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
    }
  }

  .endCredits {
    height: 100vh;
    background: linear-gradient(145deg, rgba(191,224,17,1) 0%, rgba(221,167,17,1) 36%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 100%);;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
  }

  .endCredits h1 {
    font-size: 3.5rem;
  }

  .endCredits h2 {
    font-size: 2rem;
  }

  .patreon {
    color: #1fcbe3;
  }

  .play-again-button {
    font-family: "Luckiest Guy", cursive;
    font-size: 3rem;
    border: none;
    background-color: transparent;
    color: white;
  }

  .play-again-button:hover {
    color: #ff0000;
    transform: rotate(2deg);
  }

  .batman {
    height: 200px;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .cage {
    height: 240px;
    position: absolute;
    bottom: 24px;
    right: 43px;
  }

    
